.setting-item-control *:not(input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="number"]),
.clickable-icon {
    cursor: pointer !important;
}

button {
    font-family: var(--font-interface) !important;
    cursor     : pointer !important;
}
